*{
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  
  box-sizing: border-box;
}

.logo {
  width: 280px;
 
}

.wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: 1 1 150px;
}
.body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #BAB9B4;
  color: #404040;
}

#header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/Parallax-Background.jpg);
  background-repeat: repeat;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #404040;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}

nav ul li a span{
  color: #4E888F;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background: #404040;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.container{
  padding: 10px 10%;

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-text{
  margin-top: 10%;
  font-size: 32px;
}

.header-text h1{
  margin-top: 20px;
  font-size: 54px;
}

.header-text span{
  color: #4E888F;
}

/* JONATHAN SECTION */
#jonathan{
  padding: 40px 0;
  color: #404040;
  background-color: #c3c7c7;
  /* background: url(../assets/wallpaper.jpg); */
}

.button-jon {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 30px;
  padding: 18px 54px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #c3c7c7;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-jon span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-jon span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-jon:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 43, 43);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-jon:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-jon:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.row{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
.jon-col-1{
  flex-basis: 50%;
}
.jon-col-1 p{
  font-size: 18pt;
}
.jon-col-2{
  flex-basis: 40%;
  
}
.jon-col-2 .button-jon{
  flex-basis: 40%;
  float:right;
}
.jon-col-2 img{
  width: 20%;
  border-radius: 15px;
  float: right;
  
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color:#7a9d9f;
}

/* BADAR SECTION */
#badar{
  padding: 80px 0;
  color: #222222;
  background-color: #4E888F;
}

.button-badar {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 30px;
  padding: 18px 54px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #4E888F;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-badar span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-badar span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-badar:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 43, 43);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-badar:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-badar:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.row{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
.badar-col-1{
  flex-basis: 50%;
}
.badar-col-1 p{
  font-size: 18pt;
}
.badar-col-2{
  flex-basis: 40%;
}
.badar-col-2 img{
  width: 20%;
  border-radius: 15px;
  float: right;
  
}
.badar-col-2 .button-badar{
  flex-basis: 40%;
  float: right;
  padding-right: 50px;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color:#474747;
}

/* NEW USER SECTION */
.button-newU {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #737474;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-newU:hover,
.button-newU:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-newU:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-newU {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}
#newU{
  padding: 80px 0;
  color: #222222;
  background-color: #a3a3a7;
}
.row{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
.newU-col-1{
  flex-basis: 50%;
}
.newU-col-1 p{
  font-size: 18pt;
}
.newU-col-2{
  flex-basis: 40%;
}
.newU-col-2 img{
  width: 20%;
  border-radius: 15px;
  float: right;
  
}
.newU-col-2 .button-newU{
  flex-basis: 40%;
  float:right;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color:#474747;
}

/* CONTACT SECTION */
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
  font-size: 16pt;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #4E888F;
  padding: 7px 25px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  
}
.btn:hover{
  background: #76bcc4;
}
.btn.btn2{
  display: inline-block;
  background:  #4E888F;
}
.btn.btn2:hover{
  display: inline-block;
  background:  #76bcc4;
  border: 1px solid #76bcc4;
}
.contact-right form{
  width: 100%;

}
form input, form textarea, form select{
  width: 100%;
  border: 0;
  outline: none;
  background: #474747;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* SERVICES */
#services{
  padding: 30px 0;

}
services h1 span{
  color: #4E888F;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #bcbaba;
  padding: 40px;
  font-size: 13pt;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div  h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: #4E888F;
  font-size: 14pt;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: #6d6d6d;
  transform: translateY(-10px);
}

/* JONATHAN WORK */
#portfolio{
  padding:50px 0;
  background-color: #a4a4a4;
}

.work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;

}

.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(110, 106, 106, 0.6), #4E888F);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14pt;
  transition: height 0.5s;
  color: white;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #4E888F;
  text-decoration: none;
  font-size: 18pt;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.5);
  
}
.work:hover .layer{
  height: 100%;
}

/* ABOUT SECTION */
.about{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
}

.btn-box{
  display:flex;
  border-bottom: 1px solid #191919;

}

.btn-box button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;

}

.btn-box .fa{
  margin-right: 20px;
}

.btn-box button:hover .fa{
  color:#fdffff;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  position: absolute;
  transform: translateX(2000px);
}

.content-left{
  flex-basis: 50%;
}

.content-left p{
  font-size: 13pt;
  padding: 30px;
}

#content1{
  transform: translateX(0px);
}

#btn1{
  color: #4E888F;
}

.copyright{
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyrightHome{
  width: 100%;
  color: white;
  text-align: center;
  bottom: 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
